---
layout: default
comments: true
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  
  {% if page.image %}
  <figure class="hero-image">
    <img src="{{ page.image }}" alt="{{ page.title }}">
    {% if page.image_caption %}
    <figcaption>{{ page.image_caption }}</figcaption>
    {% endif %}
  </figure>
  {% endif %}
  
  {% include series-nav.html %}
  
  {{ content }}

  <div class="clearfix"></div>

  {% include disqus_comments.html %}

  {% include twitter_plug.html %}
</article>
